
/* CSS to style the page */
.popup {
    display: none; /* Ẩn mặc định */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    width: 60%;
}

.popup-content {
    text-align: center;
}

.popup-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}


.dropdown, .date-picker {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 20%;
    transition: border-color 0.3s ease;
}

.btn-select {
    color: #28a745 !important;
    background-color: khaki;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 0.3s;
}

    .btn-select:hover {
        color: #218838 !important;
    }

.container {
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: none;
}

h2 {
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Thay đổi từ 'button' thành 'input' */
input.btn-primary {
    background-color: #007bff;
    color: white;
}

input.btn-warning {
    background-color: #ffc107;
    color: white;
}

input.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.GridViewClass {
    width: 100%;
    border:2px solid;
    border-collapse: collapse; /* Đảm bảo viền hiển thị đúng */
    margin-top: 20px;
}

    .GridViewClass th, .GridViewClass td {
        text-align: center; /* Căn giữa nội dung theo chiều ngang */
        vertical-align: middle; /* Căn giữa nội dung theo chiều dọc */
        padding: 10px; /* Thêm khoảng cách để dễ nhìn hơn */
        border: 2px solid #333; /* Thêm viền cho ô */
    }

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button, .table {
    margin-bottom: 20px;
}

@keyframes blink {
    0% {
        background-color: #ffcc00;
    }

    50% {
        background-color: #ffeb99;
    }
    /* Màu nhạt hơn */
    100% {
        background-color: #ffcc00;
    }
}

.selected-row {
    animation: blink 1s infinite alternate; /* Nhấp nháy */
}

.btnX {
    margin-left: 90%;
    background: none;
    border: none;
    outline: none;
    background-image: url('~/jpg/iconX.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer
}
